@import "variables.less";
@import "../../vendor/bower/bootstrap/less/variables.less";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 janv. 2016, 10:51:33
    Author     : Claude
*/



.button(){
    .border-left-radius(3px);
    .border-right-radius(3px);
}
.buttonColorInline( @color){
    .button();  
    background-color:@color;
    display:inline-block;
}

.color1() {
    background-color:@bgColor1;
    color: @fontColor1;
}
.color2() {
    background-color:@bgColor2;
    color: @fontColor2;
}
.color3() {
    background-color:@bgColor3;
    color: @fontColor3;
}
.color4() {
    background-color:@bgColor4;
    color: @fontColor4;
}
.color5() {
    background-color:@bgColor5;
    color: @fontColor5;
}
.navBarDarken(@color,@bgColor){
    background-color:@bgColor;
    a.navbar-brand, .navbar-nav > li > a{
        color: darken(@color, 10%);
    }
    .navbar-nav > li > a:hover, 
        .navbar-nav > li > a:focus{
        color: @color;
    }
    a.navbar-brand:hover, 
        a.navbar-brand:focus, 
        .navbar-nav > li > a:hover, 
        .navbar-nav > li > a:focus,
        .navbar-nav > li.active > a, 
        .navbar-nav > li.active > a:hover, 
        .navbar-nav > li.active > a:focus{
        color: @color;
        background-color: saturate(@bgColor,30%);
    }
}
.navBarLighten(@color,@bgColor){
    background-color:@bgColor;
    a.navbar-brand, 
    .navbar-nav > li > a{
        color: lighten(@color, 10%);
    }
    .navbar-nav > li > a:hover, 
        .navbar-nav > li > a:focus{
        color: @color;
    }
    a.navbar-brand:hover, 
        a.navbar-brand:focus, 
        .navbar-nav > li > a:hover, 
        .navbar-nav > li > a:focus,
        .navbar-nav > li.active > a, 
        .navbar-nav > li.active > a:hover, 
        .navbar-nav > li.active > a:focus{
        color: @color;
        background-color: desaturate(@bgColor,30%);
    }
}
.menuColor1() {
    .navBarDarken(@fontColor1,@bgColor1);
}
.menuColor2() {
    .navBarDarken(@fontColor2,@bgColor2);
}
.menuColor3() {
    .navBarLighten(@fontColor3,@bgColor3);
}
.menuColor4() {
    .navBarDarken(@fontColor4,@bgColor4);
}
.menuColor5() {
    .navBarDarken(@fontColor5,@bgColor5);
}



.sectionMargin(){
    padding-top:50px;
    padding-bottom:50px;
}
.sectionShadow(){
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    a{
        text-shadow: none;
        box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.7);
    }
    min-height: 100%;
}
.coucou(){
    background-color: red;
}

.filterVendor(@filtername){
    -webkit-filter: @filtername;
    -moz-filter: @filtername;
    filter: @filtername;
}


// ............................................................
// .for

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}


@colors: default, primary, green, dark-green, yellow,info,warning,danger,black;


.make-day() {
    .for(@colors); .-each(@name) {
        @name-color : "btn-@{name}-color";
        @name-bg : "btn-@{name}-bg";
        @name-border : "btn-@{name}-border";
        &-@{name} {
            .panel-variant(@@name-border; @@name-border; @@name-bg;@@name-border);

            border-style: solid;
            border-width: 5px;
            .day-ribbon{
                background-color: @@name-border;
                color:@@name-color;
                padding: 3px 0px;
                margin-top:5px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

@colors: default, primary, green, dark-green, yellow,info,warning,danger;
.make-buttons-colors(){
    .for(@colors); .-each(@name) {
        @name-color : "btn-@{name}-color";
        @name-bg : "btn-@{name}-bg";
        @name-border : "btn-@{name}-border";
        &-@{name} {
            .button-variant(@@name-color; @@name-bg; @@name-border);

        }
    }
}


