@import "../../vendor/bower/bootstrap/less/variables.less";
@import "../../vendor/bower/bootstrap/less/mixins.less";
@import "variables.less";
@import "mixins.less";





/*ADD PANEL STYLE*/



.panel-black {
    .panel-variant(@btn-black-border; @btn-black-color; @btn-black-bg; @btn-black-border);
}



/* style sheet */
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    background-color: @myBgGray;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


.wrap > .content {
    padding: 70px 15px 20px;
}
.wrap > .contentmarginless {
    padding: 50px 0px 0px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}



.btn-sm{
    border-radius: 15px;
    padding: 5px;
    width: 30px;
}

.blueimp-gallery-carousel{
    box-shadow:none;
}
.blueimp-gallery > .slides > .slide{
    /*transition-timing-function:ease-out;*/
}
.sortable{
    list-style-type: none;
    padding-left:0px;
    .sortable-handle,.sortable-placeholder{
        list-style: none;
        float: left;
        margin:3px;
        border: solid 1px black;
    }
    .sortable-placeholder{
        width:100px;
        height:100px;
        background-color:gray;
    }
}
/*BTN CHANGE*/
.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1px;
}
.btn{
    .make-buttons-colors();
}





/*RIBBON*/
.ribbon-block{
    position: relative;
    .toggle-bt-cont{
        position: relative;

        z-index: 1;
        .toggle-button{
            position:absolute;
            right:10px;
            top:10px;
        }

    }
    .ribbon {
        &.right{
            right: -5px; 
            left:auto;
            text-align: right;
            span{
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                right: -21px;
                left:auto;
            }
        }
        position: absolute;
        left: -5px; 
        top: -4px;
        z-index: 1;
        overflow: hidden;
        width: 75px; 
        height: 75px;
        text-align: left;
        span {
            font-size: 10px;
            font-weight: bold;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            width: 100px;
            display: block;
            #gradient > .vertical(@gray; darken(@gray, 7.5%));
            background-color:darken(@gray, 7.5%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px; 
            left: -21px;
            &::before {
                content: "";
                position: absolute; left: 0px; top: 100%;
                z-index: -1;
                border-left: 3px solid darken(@gray, 7.5%);
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid darken(@gray, 7.5%);

            }
            &::after {
                content: "";
                position: absolute; right: 0px; top: 100%;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid darken(@gray, 7.5%);
                border-bottom: 3px solid transparent;
                border-top: 3px solid darken(@gray, 7.5%);

            }

            &.primary{
                #gradient > .vertical(@brand-primary; darken(@brand-primary, 7.5%));
                background-color:darken(@brand-primary, 7.5%);
            }
            &.success{
                #gradient > .vertical(@brand-success; darken(@brand-success, 7.5%));
                background-color:darken(@brand-success, 7.5%);
            }
            &.info{
                #gradient > .vertical(@brand-info; darken(@brand-info, 7.5%));
                background-color:darken(@brand-info, 7.5%);
            }
            &.warning{
                #gradient > .vertical(@brand-warning; darken(@brand-warning, 7.5%));
                background-color:darken(@brand-warning, 7.5%);
            }
            &.danger{
                #gradient > .vertical(@brand-danger; darken(@brand-danger, 7.5%));
                background-color:darken(@brand-danger, 7.5%);
            }
            &.yellow{
                #gradient > .vertical(@brand-yellow; darken(@brand-yellow, 7.5%));
                background-color:darken(@brand-yellow, 7.5%);
            }
            &.primary::before{
                border-left: 3px solid darken(@brand-primary, 7.5%);
                border-top: 3px solid darken(@brand-primary, 7.5%);
            }
            &.success::before{
                border-left: 3px solid darken(@brand-success, 7.5%);
                border-top: 3px solid darken(@brand-success, 7.5%);
            }
            &.info::before{
                border-left: 3px solid darken(@brand-info, 7.5%);
                border-top: 3px solid darken(@brand-info, 7.5%);
            }
            &.warning::before{
                border-left: 3px solid darken(@brand-warning, 7.5%);
                border-top: 3px solid darken(@brand-warning, 7.5%);
            }

            &.danger::before{
                border-left: 3px solid darken(@brand-danger, 7.5%);
                border-top: 3px solid darken(@brand-danger, 7.5%);
            }
            &.yellow::before{
                border-left: 3px solid darken(@brand-yellow, 7.5%);
                border-top: 3px solid darken(@brand-yellow, 7.5%);
            }
            &.primary::after{
                border-right: 3px solid darken(@brand-primary, 7.5%);
                border-top: 3px solid darken(@brand-primary, 7.5%);
            }
            &.success::after{
                border-right: 3px solid darken(@brand-success, 7.5%);
                border-top: 3px solid darken(@brand-success, 7.5%);
            }
            &.info::after{
                border-right: 3px solid darken(@brand-info, 7.5%);
                border-top: 3px solid darken(@brand-info, 7.5%);
            }
            &.warning::after{
                border-right: 3px solid darken(@brand-warning, 7.5%);
                border-top: 3px solid darken(@brand-warning, 7.5%);
            }
            &.danger::after{
                border-right: 3px solid darken(@brand-danger, 7.5%);
                border-top: 3px solid darken(@brand-danger, 7.5%);
            }
            &.yellow::after{
                border-right: 3px solid darken(@brand-yellow, 7.5%);
                border-top: 3px solid darken(@brand-yellow, 7.5%);
            }

        }
    }
}
/*DROP ZONE*/
.dropzone:empty{
    &::after{
        height:100px;
        width:100%;
        border: 2px solid darken(@brand-success, 12.5%); 
        #gradient > .vertical(@brand-success; darken(@brand-success, 7.5%));
        .border-left-radius(15px);
        .border-right-radius(15px);
        display:block;
        font-size:4em;
        vertical-align: middle;
        text-align: center;
        color:white;
        content: "Drop Zone";
        clear:both;
    }
}




.footer address{
    margin-bottom: 0px;

}

form.kneubuhler {
    .form-group{
        margin-bottom:@smallGap;
    }
    .help-block:empty{
        margin:0px;
    }
    select.form-control,
    .has-success select.form-control {
        color: white;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        background-image: url("../images/fleche_blanc_bas.png");
        background-repeat:no-repeat;
        background-position: right;
        background-position: 100% 50%;
        background-color: black;
        border: none;
        border-radius: 0; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
        padding:5px;
        height: 25px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: bold;
        .box-shadow(none);
        &:selected{
            background-image: url("../images/fleche_blanc_haut.png");

        }
        option{
            text-transform: none;;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            background-color: darkgrey;
        }

    }

}
a.kneubuhler{
    background-color:@blackTransparent;
    color:white;
    text-align:center;
    font-weight: 200;
    margin-bottom:@smallGap;
    display:block;
    width:100%;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color:@redColor;
    }
}

.draggable{
    margin-bottom:@smallGap;
    cursor:pointer;

    .rounded{
        .border-left-radius(3px);
        .border-right-radius(3px);
        border: 1px solid @gray; 
        padding: @myPadding;
        background-color: @myBgGray;
        span{
            /*            white-space: nowrap; 
                        overflow:hidden;
                        width:150px;*/

        }
    }
}
a.red{
    color:@redColor;
}
button.red{
    background: none;
    border:none;
    color:@redColor;
    padding:0px;

}

button.red-btn{
    background: @redColor;
    border:1px solid transparent;
    color:white;
    .button();

}
button.green-btn{
    background: @brand-success;
    border:1px solid transparent;
    color:white;
    .button();
}
button.blue-btn{
    background: @brand-info;
    border:1px solid transparent;
    color:white;
    .button();
}

span.red-border{
    border:3px dotted @redColor;
    color:white;
    .buttonColorInline(@redColor);

}
span.green-border{
    border:3px dotted @brand-success;
    color:white;
    .buttonColorInline(@brand-success);
}
span.blue-border{
    border:3px dotted @brand-info;
    color:white;
    .buttonColorInline( @brand-info);
}
.week{


    .words-of-the-week{
        background-color:black;
        color:white;
        text-align:center;
        font-weight: 200;
        font-size: 1.4em;
        margin-bottom:@smallGap;
    }
    .white-block,
    .week-comment-view{
        background-color:white;
        margin-bottom:@smallGap;
        padding: @myPadding;  
    }
    .day{
        &.day{
            
        .make-day();
        }

        cursor:pointer;
        .droppable{
            &:empty{
                &::after{
                    height:50px;
                    width:100%;

                    display:block;
                    font-size:2em;
                    vertical-align: middle;
                    text-align: center;
                    color:@myBgGray;
                    content: "Drop Zone";
                }   
            }
            > div {
                border-top: 1px solid @myBgGray;
                padding-top: @smallGap;

            }
            > div:first-child{
                border-top: none;
                padding-top: none;
            }
        }
        &.hover {
            background-color: rgba(0,0,0,0.05);
        }

        &.ui-state-active {
            background-color: blue;
        }


    }
}
.block-vert{
    border: 2px solid darken(@brand-success, 12.5%); 
    #gradient > .vertical(@brand-success; darken(@brand-success, 7.5%));
    .border-left-radius(15px);
    .border-right-radius(15px);
}
div.trainingToggle{
    display:none;
}
.kneubuhler{
    &.affix{
        top:50px;
    }

}

.kv-grid-table{
    td.dim{
        /*border-right-width: 2px;*/
        border-right-color:black;
    }
}


.week-graph{
    svg{
        polygon.gradi{
            fill:@brand-primary ;
            stroke:none;
        } 
        path.gradi{
            stroke:url(../images/gradi.svg#SVGID_3_);
            fill:none;
        } 
    }    
}


.sport-index{
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    ul{
        padding-left: 10px;
    }
    ul.sport{
        background-color: @white;
        padding-left: 20px;
        padding-top: 30px;
    }
    ul.cat,ul.subcat{
        text-transform: none;
        font-size: 16px;
        letter-spacing: 1px;

        font-weight: 400;
        padding-left:0px;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    ul.subcat{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-bottom: 30px;
        margin-left: 40px;
        font-size: 13px;
        border-left: 1px solid rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.0);
    }
    li{
        list-style: none;
    }
    button {
        font-size: 11px;
        margin-left: 0px;
        border: 0;
        box-shadow: 0;
        background-color: white;
        padding-right: 0;
        color: @mulaff;
        &:hover {
            color: @mulaffSecondary;
        }
    }
}



span.sports{
    font-family: 'sports';
    font-size: 1.5em;
    color: @redColor;
}
.sports .sport-icon.done{
    fill:#FF0000;
}

.dayFormat {
    font-size: 10px;
}

.cityFormat a {
    color: black;
}

.cityFormat .fa-pencil {
    color: rgba(0,0,0,0.8);
}
.week .dates {
    background-color:black;
    color:white;
    text-align:center;
    font-weight: 200;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 15px;
    margin-bottom:@smallGap;

}

/*SPORTIF*/
/* TODO avec les nouvelles couleurs
@media (max-width: @screen-xs-max) {
    background-color:#FF0000;
    .collapsable{
        &.collapsed{
            display:none;
        }
    }
    background-color: @mulaffBG;

    >div>div.content {
        max-width: 800px;
        margin: 0 auto;
    }

    .mulaffBtn {
        background-color: transparent;
        border: 0;

        .fa-stack {
            width: 16px;
            height: 16px;
            line-height: 16px;
        }
        .fa-stack i {
            color: transparent;
        }
        .fa-stack i:last-child {
            color: @mulaff;
        } 
    }
    .week .dates {
        background:none;
        color:@white;
        text-align:center;
        font-weight: 200;
        text-transform: uppercase;
        padding: 0 0 20px 0;
        font-size: 15px;
        margin-bottom:@smallGap;
    }
    .navbar-brand {
        color: @mulaff;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 2px;
    }
    .navbar-inverse {
        background-color: @black;
        border: 0;
    }
    .wrap > .content {
        padding: 28px 0;
    }
    .weekNav {
        background-color: @mulaff;

    }
    a.kneubuhler {
        background-color: @mulaff;
        padding: 10px 0;
        margin: 0;
        font-size: 11px;
        letter-spacing: 1px;
        color: @brand-mulaff;
        font-weight: 700;
        &:hover {
            background-color: @mulaffSecondary;
        }
    }
    .fadeInLeft a {
        text-align: left;
    }
    .fadeInRight a {
        text-align: right;
    }

    .breadcrumb, h1 {
        display: none;
    }
    .words-of-the-week {
        background-color: transparent;
        font-weight: 400;
        letter-spacing: 2px;
        color: @white;
        padding: 20px 0 0 0;
        margin: 0;
    }
    .week .white-block {
        padding: 0;
    }
    .week .title {
        background-color:black;
        color:@white;
        text-align:center;
        font-weight: 200;
        text-transform: uppercase;
        padding: 20px 0;
        font-size: 15px;
        margin-bottom:@smallGap;

    }
    .white-block {
        &.week-graph{
            color:@white;
            padding: 50px 0;

            .legends{
                .overflow{
                    overflow:hidden;
                }
            }
        }
        background-color: transparent;
    }
    .dayFormat {
        background-color: transparent;
        border-top: 1px dashed @mulaff;

        color: @white;
        font-size: 16px;
        text-align: left;
        padding: 0 0 8px 0;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .cityFormat a{
        text-transform: none;
        font-weight: 200;
        color: @white;
    }
    .cityFormat .fa-pencil {
        color: rgba(255,255,255,0.8);
        font-size: 11px;
        line-height: 16px;
        padding-left: 3px;
    }
    div .eachTraining {
        border-top: 1px solid @mulaffClear;
        &:last-child {

        }
    }
    .trainingWrapper {
        border-top: 0px dashed @mulaff;
        padding: 20px;
        color: @white;
        text-align: center;
        font-weight: 200;

        .title {
            text-transform: none;
            background: none;
            padding: 0;
            margin: 0;
            text-align: left;
            text-size: 11px;
        }
        .timeDuration {
            text-align: left;
            font-size: 18px;
            letter-spacing: 1px;
        }
        .sports {
            background: none;
            border: 0;
            border-radius: 0;
            min-width: 30px;
            height: auto;
            line-height: 30px;
            margin: 0;
            .filterVendor(invert(0));

        }
    }


    .timeDuration {
        display:inline-block;
        text-align: right;
        padding: 2px 3px;
        margin: 0 0 5px 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: 700;
        background: none;
        color: @white;
    }

    .sports {
        display:inline-block;
        .border-right-radius(30px);
        .border-left-radius(30px);
        margin: 10px 5px 20px 5px;
        padding:0px 15px;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        background-color: @white;
        color: @mulaffBG;
    }
    .all-sports {
    }
    .all-sports img{
        width: 16px;
        margin-left: 3px;
        .filterVendor(invert(0));

    }
    .sports-mini {
        display:inline-block;
        .border-right-radius(15px);
        .border-left-radius(15px);
        margin: 5px 5px 5px 5px;
        padding:0px 2px;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: @white;
        color: @mulaffBG;
    }

    .graphWrapper {

        padding: 20px 30px;
    }
    .table-bordered {
        border: 0;
        color: @white;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: transparent;
    }
    .table-bordered > tbody > tr > td {
        border: 0;
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: left;


    }
    .table-bordered > tbody > tr > th {
        border: 0;
        text-align: right;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 2px;
    }
    .week-graph {
        padding: 50px 0 !important;
    }
    .modal-content {
        border-radius: 0;
        background-color: @mulaffBG;
        color: @white;

        .close {
            color: @white;
            text-shadow: 0;
        }
        h4 {
            text-align: center;
            text-transform: uppercase;
        }
        label {
            font-weight: 200;
        }
        button {
            text-align: center;
        }
    }
    .footer {
        font-size: 10px;
        background-color: @mulaffBG;
        color: @white;
        font-weight: 200;
        letter-spacing: 1px;
        border-top: 1px dashed @mulaffClear;
        color: @mulaff;
    }
}
*/
/*END SPORTIF*/

body.login {
    background-color: @mulaffBG;
    color: @white;
    .wrap {
        padding: 0 50px;
    }
    .loginLogo {
        padding-bottom: 30px;
    }
    .form-group {
        margin-bottom: 2px;
    }
    label {
        color: @white;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
    }
    input {
        border-radius: 0;
    }
    input[type="checkbox"] {
        background-color: @mulaff;
    }
    .loginForget {
        font-size: 11px;
        color: @white;
        font-weight: 200;
    }
    a {
        color: @mulaff;
    }
    .footer {

        background: none;
        color: @white;
        font-size: 10px;
        border-top: 0;
    }
    button {
        width: 100%;
    }
    .help-block {
        font-size: 11px;

    }
}




body.coaches .bullet{
    text-align: right;
}
.coaches {

    .weekNav {
        background-color: @black;
        padding: 0px;
        margin: 0 0px 20px 0px;

        .kneubuhler {
            padding: 10px;
            margin: 0;
            &:hover {
                background-color: @mulaff;

            }
        }
    }
}


.table-condensed > tbody > tr > td {
    padding: 0px;
}
.required{
    & > label::after{
        content :' *';
        color: @requiredColor;
    }
}

