Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

#RewriteCond %{HTTP_HOST} !^www
#RewriteCond %{HTTP_HOST} ^(.*)\.klod\.ch
#RewriteRule ^(.*)$ http://klod.ch/%1/$1 [QSA,L,NC,P]

# if request dosn't start with web adn not subdomain add it

RewriteCond %{REQUEST_URI} !^/coaching/(web)
RewriteRule (.*) /coaching/web/$1 [QSA,L]

# if file or directory dosn't exists go to /web/index.php exept if subdomain
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /coaching/web/index.php 