/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 janv. 2016, 10:51:33
    Author     : Claude
*/
/* mixins */
/* style sheet */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .content {
  padding: 70px 15px 20px;
}
.wrap > .contentmarginless {
  padding: 50px 0px 0px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
.btn-sm {
  border-radius: 15px;
  padding: 5px;
  width: 30px;
}
.blueimp-gallery-carousel {
  box-shadow: none;
}
.blueimp-gallery > .slides > .slide {
  /*transition-timing-function:ease-out;*/
}
.sortable {
  list-style-type: none;
  padding-left: 0px;
}
.sortable .sortable-handle,
.sortable .sortable-placeholder {
  list-style: none;
  float: left;
  margin: 3px;
  border: solid 1px black;
}
.sortable .sortable-placeholder {
  width: 100px;
  height: 100px;
  background-color: gray;
}
.ribbon-block {
  position: relative;
}
.ribbon-block .toggle-bt-cont {
  position: relative;
  z-index: 1;
}
.ribbon-block .toggle-bt-cont .toggle-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.ribbon-block .ribbon {
  position: absolute;
  left: -5px;
  top: -4px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: left;
}
.ribbon-block .ribbon.right {
  right: -5px;
  left: auto;
  text-align: right;
}
.ribbon-block .ribbon.right span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -21px;
  left: auto;
}
.ribbon-block .ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background-image: -webkit-linear-gradient(top, #555555 0%, #424242 100%);
  background-image: -o-linear-gradient(top, #555555 0%, #424242 100%);
  background-image: linear-gradient(to bottom, #555555 0%, #424242 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff424242', GradientType=0);
  background-color: #424242;
  box-shadow: 0 3px 10px -5px #000000;
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon-block .ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #424242;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #424242;
}
.ribbon-block .ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #424242;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #424242;
}
.ribbon-block .ribbon span.primary {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  background-color: #2b669a;
}
.ribbon-block .ribbon span.success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #48a648 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff48a648', GradientType=0);
  background-color: #48a648;
}
.ribbon-block .ribbon span.info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #3bb4d8 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #3bb4d8 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #3bb4d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff3bb4d8', GradientType=0);
  background-color: #3bb4d8;
}
.ribbon-block .ribbon span.warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ed9d2b 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #ed9d2b 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ed9d2b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffed9d2b', GradientType=0);
  background-color: #ed9d2b;
}
.ribbon-block .ribbon span.danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #d23430 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #d23430 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #d23430 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffd23430', GradientType=0);
  background-color: #d23430;
}
.ribbon-block .ribbon span.primary::before {
  border-left: 3px solid #2b669a;
  border-top: 3px solid #2b669a;
}
.ribbon-block .ribbon span.success::before {
  border-left: 3px solid #48a648;
  border-top: 3px solid #48a648;
}
.ribbon-block .ribbon span.info::before {
  border-left: 3px solid #3bb4d8;
  border-top: 3px solid #3bb4d8;
}
.ribbon-block .ribbon span.warning::before {
  border-left: 3px solid #ed9d2b;
  border-top: 3px solid #ed9d2b;
}
.ribbon-block .ribbon span.danger::before {
  border-left: 3px solid #d23430;
  border-top: 3px solid #d23430;
}
.ribbon-block .ribbon span.primary::after {
  border-right: 3px solid #2b669a;
  border-top: 3px solid #2b669a;
}
.ribbon-block .ribbon span.success::after {
  border-right: 3px solid #48a648;
  border-top: 3px solid #48a648;
}
.ribbon-block .ribbon span.info::after {
  border-right: 3px solid #3bb4d8;
  border-top: 3px solid #3bb4d8;
}
.ribbon-block .ribbon span.warning::after {
  border-right: 3px solid #ed9d2b;
  border-top: 3px solid #ed9d2b;
}
.ribbon-block .ribbon span.danger::after {
  border-right: 3px solid #d23430;
  border-top: 3px solid #d23430;
}
.dropzone:empty::after {
  height: 100px;
  width: 100%;
  border: 2px solid #409440;
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #48a648 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff48a648', GradientType=0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  font-size: 4em;
  vertical-align: middle;
  text-align: center;
  color: white;
  content: "Drop Zone";
  clear: both;
}
.footer address {
  margin-bottom: 0px;
}
form.kneubuhler .form-group {
  margin-bottom: 6px;
}
form.kneubuhler .help-block:empty {
  margin: 0px;
}
form.kneubuhler select.form-control,
form.kneubuhler .has-success select.form-control {
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/fleche_blanc_bas.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: 100% 50%;
  background-color: black;
  border: none;
  border-radius: 0;
  padding: 5px;
  height: 25px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form.kneubuhler select.form-control:selected,
form.kneubuhler .has-success select.form-control:selected {
  background-image: url("../images/fleche_blanc_haut.png");
}
form.kneubuhler select.form-control option,
form.kneubuhler .has-success select.form-control option {
  text-transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: darkgrey;
}
a.kneubuhler {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-weight: 200;
  margin-bottom: 6px;
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
a.kneubuhler:hover {
  background-color: #f60100;
}
.draggable {
  margin-bottom: 6px;
  cursor: pointer;
}
.draggable .rounded {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #555555;
  padding: 5px 10px;
  background-color: #f0f0f0;
}
.draggable .rounded span {
  /*            white-space: nowrap; 
                        overflow:hidden;
                        width:150px;*/
}
a.red {
  color: #f60100;
}
button.red {
  background: none;
  border: none;
  color: #f60100;
  padding: 0px;
}
.week .words-of-the-week {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 1.4em;
  margin-bottom: 6px;
}
.week .white-block {
  background-color: white;
  margin-bottom: 6px;
  padding: 5px 10px;
}
.week .day .droppable:empty::after {
  height: 50px;
  width: 100%;
  display: block;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
  color: #f0f0f0;
  content: "Drop Zone";
}
.week .day .droppable > div {
  border-top: 1px solid #f0f0f0;
  padding-top: 6px;
}
.week .day .droppable > div:first-child {
  border-top: none;
  padding-top: none;
}
.week .day.hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.week .day.ui-state-active {
  background-color: blue;
}
.block-vert {
  border: 2px solid #409440;
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #48a648 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff48a648', GradientType=0);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
div.trainingToggle {
  display: none;
}
.kneubuhler.affix {
  top: 50px;
}
.gradi {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #48a648 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #48a648 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff48a648', GradientType=0);
  background-size: contain;
}
.sport-index {
  margin-top: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.sport-index ul {
  padding-left: 10px;
}
.sport-index ul.sport {
  background-color: white;
  padding-left: 20px;
  padding-top: 30px;
}
.sport-index ul.cat,
.sport-index ul.subcat {
  text-transform: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-left: 0px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sport-index ul.subcat {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-size: 13px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
}
.sport-index li {
  list-style: none;
}
.sport-index button {
  font-size: 11px;
  margin-left: 0px;
  border: 0;
  box-shadow: 0;
  background-color: white;
  padding-right: 0;
  color: #97cccd;
}
.sport-index button:hover {
  color: #78a5a6;
}
#sports > div {
  padding-bottom: 50px;
}
#sports > div > li {
  border-bottom: 1px dashed black;
}
span.sports {
  font-family: 'sports';
  font-size: 1.5em;
  color: #f60100;
}
.dayFormat {
  font-size: 10px;
}
.cityFormat a {
  color: black;
}
.cityFormat .fa-pencil {
  color: rgba(0, 0, 0, 0.8);
}
.week .dates {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  margin-bottom: 6px;
}
/*SPORTIF*/
body.sportifs {
  background-color: #2c1212;
}
body.sportifs .navbar-brand {
  color: #97cccd;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}
body.sportifs .navbar-inverse {
  background-color: black;
  border: 0;
}
body.sportifs .wrap > .content {
  padding: 28px 0;
}
body.sportifs .weekNav {
  background-color: #97cccd;
}
body.sportifs a.kneubuhler {
  background-color: #97cccd;
  padding: 10px 0;
  margin: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: #416162;
  font-weight: 700;
}
body.sportifs a.kneubuhler:hover {
  background-color: #78a5a6;
}
body.sportifs .fadeInLeft a {
  text-align: left;
}
body.sportifs .fadeInRight a {
  text-align: right;
}
body.sportifs .breadcrumb,
body.sportifs h1 {
  display: none;
}
body.sportifs .words-of-the-week {
  background-color: transparent;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  padding: 20px 0;
}
body.sportifs .week .white-block {
  padding: 0;
}
body.sportifs .week .title {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  margin-bottom: 6px;
}
body.sportifs .white-block {
  background-color: transparent;
}
body.sportifs .white-block.week-graph {
  color: white;
}
body.sportifs .white-block.week-graph svg polygon {
  fill: white;
}
body.sportifs .white-block.week-graph .legends .overflow {
  overflow: hidden;
}
body.sportifs .dayFormat {
  background-color: transparent;
  border-top: 1px dashed #97cccd;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
body.sportifs .cityFormat a {
  text-transform: none;
  font-weight: 200;
  color: white;
}
body.sportifs .cityFormat .fa-pencil {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  line-height: 16px;
  padding-left: 3px;
}
body.sportifs .trainingWrapper {
  border-top: 1px dashed #97cccd;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 200;
}
body.sportifs .timeDuration {
  display: inline-block;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px 5px 20px 5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  background-color: white;
  color: #2c1212;
}
body.sportifs .sports {
  display: inline-block;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px 5px 20px 5px;
  padding: 0px 15px;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: white;
  color: #2c1212;
}
body.sportifs .sports-mini {
  display: inline-block;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin: 5px 5px 5px 5px;
  padding: 0px 2px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  color: #2c1212;
}
body.sportifs .graphWrapper {
  padding: 20px 30px;
}
body.sportifs .graphWrapper svg polygon.gradi {
  fill: #f0f0f0;
}
body.sportifs .table-bordered {
  border: 0;
  color: white;
}
body.sportifs .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
body.sportifs .table-bordered > tbody > tr > td {
  border: 0;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
}
body.sportifs .table-bordered > tbody > tr > th {
  border: 0;
  text-align: right;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
}
body.sportifs .modal-content {
  border-radius: 0;
  background-color: #2c1212;
  color: white;
}
body.sportifs .modal-content .close {
  color: white;
  text-shadow: 0;
}
body.sportifs .modal-content h4 {
  text-align: center;
  text-transform: uppercase;
}
body.sportifs .modal-content label {
  font-weight: 200;
}
body.sportifs .modal-content button {
  text-align: center;
}
body.login {
  background-color: #2c1212;
  color: white;
}
body.login .wrap {
  padding: 0 50px;
}
body.login .loginLogo {
  padding-bottom: 30px;
}
body.login .form-group {
  margin-bottom: 2px;
}
body.login label {
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
body.login input {
  border-radius: 0;
}
body.login input[type="checkbox"] {
  background-color: #97cccd;
}
body.login .loginForget {
  font-size: 11px;
  color: white;
  font-weight: 200;
}
body.login a {
  color: #97cccd;
}
body.login .footer {
  background: none;
  color: white;
  font-size: 10px;
  border-top: 0;
}
body.login button {
  width: 100%;
}
body.login .help-block {
  font-size: 11px;
}
/*BTN CHANGE*/
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 1px;
}
.btn-primary {
  background-color: #416162;
  border-color: #78a5a6;
  color: white;
}
.btn-primary:active {
  background-color: #97cccd;
}
.btn-primary:focus {
  background-color: #97cccd;
}
.btn-primary:hover {
  background-color: #78a5a6;
}
body.coaches .bullet {
  text-align: right;
}
.coaches .weekNav {
  background-color: black;
  padding: 0px;
  margin: 0 0px 20px 0px;
}
.coaches .weekNav .kneubuhler {
  padding: 10px;
  margin: 0;
}
.coaches .weekNav .kneubuhler:hover {
  background-color: #97cccd;
}
/*# sourceMappingURL=site.css.map */